*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.home{
	width:90%;
	margin:0 auto;
	padding-top:20px;
	
}
h2{
	padding:20px;
	color:green;
	font-weight:800;
}
h2+p{
	margin:10px;
}
	
.content div{
	width:250px;
	height:100px;
	border:2px solid red;
	padding:10px;
	margin-bottom:20px;
}
.hidden{
	overflow:hidden;
}
.scroll{
	overflow:scroll;
}
.auto{
	overflow:auto;
}
.visible{
	overflow:visible;
}